*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #E4A0C9;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.restaurante-imagem{
    width: 25%;
}

.restaurante{
    background-image: linear-gradient(#CED4E9,#CED4E9);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.restaurante-div-conteudo{
    width: 35%;
}


.restaurante-titulo{
    padding: 24px 0;
}

.funcionario{
    padding: 24px 0;
    background-color: #CED4E9;
}
.funcionario-imagem{
    width: 120px;
}

.funcionario-icone{
    width: 24px;
    padding: 4px 8px;
}

.funcionario-div{
    text-align: center;
    padding: 16px 0;
}

.funcionario-titulo{
    text-align: center;
    padding: 50px 0;
}

.funcionario-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}